<!-- <ul class="navbar navbar-default">
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">Add new contact</a></li>
	<li><a href="/search">Search for Contact</a></li>
</ul> -->

<form role="form" action="/contacts_generate" method="post">
	<button type="submit" class="btn btn-default">Generate some contacts</button>
</form>
