<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main Menu</p>

<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">Add new contact</a></li>
	<!-- <li><a href="/contacts/delete">Delete a contact</li> -->
</ul>

<form role="form" action="/contacts_generate" method="post">
	<button type="submit" class="btn btn-default">Generate some contacts</button>
</form>
