<!DOCTYPE html>
<html>
<head>
	<title>Bitmaker CRM App</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<header>
	<div class="container">
		<div class="page-header row">
			<div class="col-md-1">
				<img class="logo" src="/logo_bitmaker_fb.png">
			</div>
			<div class="col-md-4">
				<h1>Bitmaker CRM</h1>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default container">
	<div class="row">
		<div class="">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/contacts">Contacts</a></li>
		</div>
		<div class="">
			<form class="navbar-form navbar-left" action="/search" method="post">
				<input class="form-control" type="text" name="attribute" placeholder="Search for contact">
				<button type="submit" class="btn btn-sm btn-primary">Search</button>
			</form>
		</div>
		</ul>
	</div>
	</nav>	

	<div class="container">
		<div class="row">
			<div class="col-md-4">		
				<h2><%= params[:page_name] %></h2>
			</div>
			
		</div>	
	</div>
	</header>




	<div class="container">
		<div class="row">
			<%= yield %>
	  	</div>
  	</div>

	<footer>
		
	</footer>
</body>

</html>