<!DOCTYPE html>
<html>
<head>
	<title>Bitmaker CRM App</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<header>
	<div class="container background">
		<div class="page-header row">
			<div class="col-md-1">
				<img class="logo" src="/bitmaker_logo.png">
			</div>
			<div class="col-md-4">
				<h1>Bitmaker CRM</h1>
			</div>
		</div>

	<nav class="navbar navbar-default">
	<div class="row">
		<div class="">
		<ul class="nav navbar-nav">
			<li><a href="/"><span id="home-icon" class="glyphicon glyphicon-home"></span></a></li>
			<li><a href="/contacts">Contacts (<%= Contact.count %>)</a></li>
		</div>
		<div class="">
			<form class="navbar-form navbar-left" action="/search" method="post">
				<input class="form-control" type="text" name="attribute" placeholder="Search for contact">
				<button type="submit" class="btn btn-sm btn-primary">Search</button>
			</form>
		</div>
		</ul>
	</div>
	</nav>	
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">		
				<h2 class="floating-title"><%= params[:page_name] %></h2>
			</div>
			
		</div>	
	</div>
	</header>

	<div class="container">
		<div class="row">
			<%= yield %>
	  	</div>
  	</div>

	<footer>
<!-- 		<div class=container>
			&copy; Philippe Schwyter
		</div> -->
	</footer>
</body>

</html>