body {
	background-image: url('/background_crm.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
	min-height: 100%
}

/*.container {
	max-width: 960px;
}*/

footer {
	position: absolute;
	bottom: 0;
}

/*****************************

	Table formatting

******************************/

.table {
	table-layout: fixed;
	opacity: 0.8;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.form-group > label {
	color: #428bca;
}

.note-column {
	width: 250px;
}

.email-column {
	width: 200px;
}

.name-column {
	width: 100px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

/****************************

	View contact formatting

*****************************/

.contact-card-name > h2 {
	color: #428bca;
}

/*.contact-card {
	background-color: white;
	border-radius: 4px;
}*/


.contact-image {
	float: right;
}



.page-header {
	border-radius: 4px;
	padding-top: 5px;
	background: transparent;
	border-bottom: transparent;
	color: white;
}

.logo {
	height: 70px;
}

/*************************

	glyphicon styling

*************************/

#home-icon {
	padding-left: 10px;
}

.glyph-add-icon {
	font-size: 25px;
	vertical-align: center;
}

/*************************

	navbar

*************************/

.navbar {
	opacity: 0.8;
}

ul > li {
	padding-left: 20px;
}

.search-bar {
	padding-right: 20px;
	float: right;
}

/* Setting Background color */

.table,
.navbar {
	background-color: white;
}

.page-subtitle {
	color: white;
}